@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

.digital-clock-moment {
  display: flex;
  margin: 1em;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.digital-clock-display {
  font-size: large;
  font-weight: 700;
  margin: 1em;
  width: 75%;
  line-height: 3rem;
  text-align: left;

  p {
    margin: 0;
    font-size: small;
    text-align: left;
  }
}

.country-flag-mini {
  margin: 1rem;
  text-align: center;
}

.flag-mini {
  height: 3rem;
  width: 5rem;
  max-width: 5rem;
}

@media screen and (min-width: 1171px) {
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .digital-clock-moment {
    margin: 0;
    height: 162px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 541px) {
}

@media screen and (max-width: 500px) {
  .digital-clock-display {
    line-height: 1.5rem;
    font-size: unset;
    width: 130px;
    text-align: left;
    margin: 10px;

    p {
      margin: 0;
      font-size: small;
      text-align: left;
    }
  }

  .digital-clock-moment {
    margin: 0;
    max-height: 4.5rem;
    // text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .digital-clock-display {
    width: 110px;
    font-size: 1.4rem;
    margin: auto;
    text-align: left;
    margin: 10px;

    p {
      margin: 0;
      font-size: small;
      text-align: left;
    }
  }

  .digital-clock-moment {
    height: 4.5rem;
  }
}

@media screen and (max-width: 321px) {
  .digital-clock-display {
    // line-height: 1.5rem;
    // font-size: unset;
    width: 110px;
    font-size: 1.2rem;
    margin: 10px;
    text-align: left;

    p {
      margin: 0;
      font-size: small;
      text-align: left;
    }
  }

  .digital-clock-moment {
    // margin: 0;
    height: 4.5rem;
    // text-align: center;
  }
}

@media screen and (max-width: 280px) {
}
