.actions-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: 900;
}

.edit,
.add {
  cursor: pointer;
  color: #eeeeee;
  margin: 1rem;
}

.main-content-wrapper {
  // width: 60rem;
}

.header {
  display: flex;
  justify-content: center;
  color: #eeeeee;
}

.cities-wrapper {
  min-height: 800px;
}

.clock-wrapper {
  display: flex;
  background: #bdbdbd;
  margin-bottom: 0.5rem;
  width: 100%;
  .canvas-clock {
  }

  .digital-clock {
  }
}

.add-block {
  grid-gap: 0.5em;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 0.5rem;
  width: 80%;
}

.flag {
  width: 20%;
}

.delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  cursor: pointer;
  width: 20%;
}

.delete-button {
  text-decoration: unset;
  font-size: x-large;
  color: white;
}

@media screen and (min-width: 1171px) {
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .cities-wrapper {
    width: 700px;
  }

  .add-block {
    margin-bottom: 0;
    margin: 0;
  }

  .edit,
  .add {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 415px) {
  .clock-wrapper {
    height: 4.5rem;
  }
  .actions-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 900;
  }

  .cities-wrapper {
    width: 414px;
  }

  .add-block {
    display: flex;
    font-size: x-large;
    font-weight: 900;
    width: 50%;
    height: 1rem;
  }

  .add-block.isEdit {
    width: 80%;
  }

  .canvas-clock {
    visibility: hidden;
    width: 0;
  }

  .flag {
    width: 50%;
  }

  .flag.isEdit {
    width: auto;
  }

  .delete-button {
    font-size: large;
  }
}

@media screen and (max-width: 376px) {
  .clock-wrapper {
    height: 4.5rem;
  }
  .actions-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 900;
  }

  .cities-wrapper {
    width: 375px;
  }

  .add-block {
    display: flex;
    font-size: x-large;
    font-weight: 900;
    width: 50%;
    height: 1rem;
  }

  .add-block.isEdit {
    width: 80%;
  }

  .canvas-clock {
    visibility: hidden;
    width: 0;
  }

  .flag {
    width: 50%;
  }

  .flag.isEdit {
    width: auto;
  }

  .delete-button {
    font-size: large;
  }
}

@media screen and (max-width: 321px) {
  .cities-wrapper {
    width: 320px;
  }
}

@media screen and (max-width: 280px) {
  .actions-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 900;
  }

  .cities-wrapper {
    width: 280px;
  }

  .delete-button {
    font-size: large;
  }
}
