.actions {
  display: flex;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
}

.countries-list {
  ul {
    list-style: none;
    li {
      margin: 5px 0 5px 0;
      border-bottom: solid #515151 1px;
      cursor: pointer;
    }
  }
}
