.actions {
  display: flex;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
  font-weight: 800;
  color: #eeeeee;
}

.search-field {
  width: 60%;
  height: 25px;
  margin: 0.5rem 0 0 2rem;
  border: none;
  border: solid 2px #515151;
  border-radius: 10px;
}

.countries-list {
  color: #eeeeee;
  ul {
    list-style: none;
    li {
      margin: 5px 0 5px 0;
      border-bottom: solid #515151 1px;
      cursor: pointer;
    }
  }
}
